#home {
  padding: 80px 0 0 0;
  margin: 0;
  min-height: calc(100vh - 64px);
  height: auto;
  display: flex;
  background-color: rgb(174, 176, 169);
}

#about, #projects {
  padding: 100px 20px 0 20px;
  min-height:75vh;
  background-color: rgb(174, 176, 169);
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;          /* ensures full height */
  width: 100%;
  background-color: rgb(174, 176, 169); /* match sidebar bg */
}

/* Push content to the right of the sidebar */
section {
  min-height: 100vh;   /* ensures full viewport height */
  height: 100vh;       /* forces height, avoids jump */
  padding-left: 220px; /* sidebar offset */
  box-sizing: border-box;
}
